* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background-color: #f0f7f9;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 999;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 2em;
    color: #0066cc;
    user-select: none;
    transition: color 0.3s ease; 
}

.logo:hover {
    color: #004080; 
}

.navigation {
    display: flex; /* Ensure navigation links are displayed in a row */
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    font-weight: 900;
    color: #333;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    transition: color 0.3s ease; 
}

.navigation a:hover {
    color: #004080; 
}

.content .button-login {
    width: 150px;
    height: 50px;
    background: #0066cc;
    border: 2px solid #0066cc;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    font-size: 1.1em;
    color: #ffffff;
    font-weight: 500;
    margin-left: 40px;
    transition: background 0.3s ease, color 0.3s ease; 
}

.content .button-login:hover {
    background: #004080; 
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #0066cc;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s;
}

.navigation a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('GettyImages.webp') center center fixed; /* Replace 'path/to/your-background-image.jpg' with the path to your background image */
    background-size: cover; /* Ensure the background image covers the entire body */
    background-repeat: no-repeat; 
}

.content {
    user-select: none;
    width: 80%;
    max-width: 800px;
    position: relative; /* Change position to relative */
    text-align: center;
    padding: 40px;
    background-color: #ffffff8f;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

.content h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 3em;
    color: #333;
}

.content p {
    color: #666;
    margin-bottom: 30px;
    font-weight: 300;
    line-height: 1.6;
}
