<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='LoginStyle.css') }}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header>
        <h2 class="logo">AutiVision</h2>
        <nav class="navigation">
           <a href="{{ url_for('home') }}">Home</a>
           <a href="{{ url_for('about') }}">About</a>
           <a href="">Contact</a>
         </nav>
      </header>
      <div class="wrapper">
        <form method="POST" action="{{ url_for('login') }}">
            <h1>LOGIN</h1>
            {{ form.hidden_tag() }}
            <div class="input-box">
                {{ form.username(class="input-field", placeholder="Username", required=True) }}
                {% for error in form.username.errors %}
                    <span class="error">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="input-box">
                {{ form.password(class="input-field", placeholder="Password", required=True) }}
                {% for error in form.password.errors %}
                    <span class="error">{{ error }}</span>
                {% endfor %}
            </div>
            <button type="submit" class="btn">Login</button>
            <div class="register-link">
                <p>Don't have an account? <a href="{{ url_for('register') }}">Register</a></p>
            </div>
        </form>
      </div>
</body>
</html>
