<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="/static/LoginStyle.css">
</head>
<body>
    <header>
        <h2 class="logo">ASD</h2>
        <nav class="navigation">
           <a href="{{ url_for('home') }}">Home</a>
           <a href="{{ url_for('about') }}">About</a>
           <a href="">Contact</a>
         </nav>
      </header>
<div class="wrapper">
<form method="POST" action="{{ url_for('register') }}">
    <h1>REGISTER</h1>
    {{ form.hidden_tag() }}
    <div class="input-box">
        {{ form.username(class="input-field", placeholder="Username", required=True) }}
        {% for error in form.username.errors %}
            <span class="error">{{ error }}</span>
        {% endfor %}
    </div>
    <div class="input-box">
        {{ form.password(class="input-field", placeholder="Password", required=True) }}
        {% for error in form.password.errors %}
            <span class="error">{{ error }}</span>
        {% endfor %}
    </div>
    <button type="submit" class="btn">Register</button>
</form>
<div class="register-link">
<p>Already have an account?<a href="{{ url_for('login') }}"> Log in</a></p>
</div>
</div>
</body>
</html>