<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to Autivision</title>
  <link rel="stylesheet" href="/static/welcome.css">      
</head>
<body>
  <div class="container">
    <h1>Welcome to Autivision</h1>
    <p>Empowering Clinical Decision Making</p>
    <a href="{{ url_for('dashboard') }}" class="btn">Single Image</a>
    <a href="{{ url_for('dashboard_2') }}" class="btn">Multiple Images</a>
  </div>
</body>
</html>
